body {
    font-family: 'Poppins', sans-serif;
    background-image: url('https://cdn.discordapp.com/attachments/1135066329456578640/1137686756632842240/Gradient_Background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box-shadow {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.864);
    border-radius: 20px;
    text-align: center;
}

h1 {
    font-size: 60px;
    border-spacing: 3px;
    margin-top: 5px;
    margin-bottom: 2px;
    color: #006aff;
}

h2 {
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #d43eb1;
}

h3 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #ffbf01;
}

h4 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0%;
    color: #ffbf01;
}

h5 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #7806b0;
}

p {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(44, 44, 44);
}

a {
    color: #0099ff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    font-size: 22px;
    margin-bottom: 5px;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin: 20px; 
}

.image-container img {
    width: 30%; 
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

table {
    border: 1px solid #2078b3;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin-top: 5px;
    margin-bottom: 20px;
    margin: 0 auto;
}

th {
    border: 1px solid #0099ff;
    padding: 10px;
    background-color: #0099ff;
    color: white;
}
    
td {
    border: 1px solid #0099ff;
    padding: 10px;
}

.social-media-intro {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: #0099ff;
}

.cool-button {
    display: inline-block;
    background-color: #0099ff;
    color: white;
    padding: 8px 16px;
    border-radius: 2px;
    text-decoration: none;
    margin-top: 2px;
    font-size: 18px;
}

ul, ol {
    margin: 5px 0; 
    padding-left: 0;
}

.centered-ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    font-size: 22px;
    margin-bottom: 5px;
}

.centered-ol li {
    text-align: left;
    margin-bottom: 5px;
}

.button-container {
    margin-top: 10px;
}